/* Put your CSS here */
.ember-application {
    margin: 20px;
}

body{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #555;
}

.navbar.navbar-default.navbar-fixed-bottom{
  text-align: center;
  background-color: white;
}

.navbar.navbar-default.navbar-fixed-bottom a{
  color: black;
  margin-left: 25px;
}


#hello{
  font-size: 150%;
}

#steps{
  text-align: center;
}

.description{
  margin-left: 20px;
  font-size: 18px;
  color: #555;
  text-shadow: 0 1px rgba(255,255,255,.6);
}

.personal_description{
  margin-left: 20px;
  font-size: 14px;
  color: #555;
  text-shadow: 0 1px rgba(255,255,255,.6);
}

#spot{
  color: #FF9966;
  font-size: 300%;
  margin-left: 20px;
}

#spotpic{
  margin-left: 50px;
}

#wife{
  border-radius: 25px;
}

.about{
  font-size: 200%;
}

#patterns{
  color: #95af3c;
}

#neo{
  font-size: 200%;
}
